# Business Analytics
## Testing Channel Management in Retail
(C) 2021

In [1]:
from IPython.display import HTML, display

def optional_material():
    '''
    When run in a cell, this function will color the cell blue to indicate
    the material is optional
    '''
    script =  "var cell = this.closest('.code_cell');"
    script += "var editor = cell.querySelector('.input_area');"
    script += "editor.style.background='#bde4f0';"
    script += "this.parentNode.removeChild(this)"
    
    display(HTML(f'<img src onerror="{script}">'))
    
optional_material()

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:900px !important; }</style>"))

# BOPS at Home and Kitchen

### Load data

In [2]:
import pandas as pd

In [4]:
df_bm = pd.read_excel('/Users/gujiajun/Downloads/BOPS data.xlsx', sheet_name='B&M Sales')
df_online = pd.read_excel('/Users/gujiajun/Downloads/BOPS data.xlsx', sheet_name='Online Sales')

In [5]:
df_bm.head()

   id (store)       date  year  month  week  usa  after          sales
0           1 2011-04-17  2011      4    16    0      0  118690.700000
1           1 2011-04-24  2011      4    17    0      0  113804.266667
2           1 2011-05-01  2011      4    18    0      0  172104.333333
3           1 2011-05-08  2011      5    19    0      0  105590.966667
4           1 2011-05-15  2011      5    20    0      0   94884.300000

In [6]:
df_online.head()

   id (DMA)       date  year  month  week  after  close        sales
0         1 2011-04-24  2011      4    17      0      1  18564.46094
1         1 2011-05-01  2011      4    18      0      1  30882.56055
2         1 2011-05-08  2011      5    19      0      1  37424.92578
3         1 2011-05-15  2011      5    20      0      1  32562.69336
4         1 2011-05-22  2011      5    21      0      1  35772.67188

### Initial analysis

In [7]:
currency_format = lambda x : '${:,.2f}'.format(x)

In [8]:
print('Online sales')
print()
df_online_pre = df_online[df_online.after == 0]
df_online_post = df_online[df_online.after == 1]

print(f'Pre-BOPS:  {currency_format(df_online_pre.sales.mean())}')
print(f'           {df_online_pre.date.min().date()} to {df_online_pre.date.max().date()}')
print(f'Post-BOPS: {currency_format(df_online_post.sales.mean())}')
print(f'           {df_online_post.date.min().date()} to {df_online_post.date.max().date()}')

Online sales

Pre-BOPS:  $14,737.84
           2011-04-24 to 2011-10-16
Post-BOPS: $12,734.29
           2011-10-23 to 2012-04-08

In [9]:
print('B&M sales')
print()
df_bm_pre = df_bm[df_bm.after == 0]
df_bm_post = df_bm[df_bm.after == 1]

print(f'Pre-BOPS:  {currency_format(df_bm_pre.sales.mean())}')
print(f'           {df_bm_pre.date.min().date()} to {df_bm_pre.date.max().date()}')
print(f'Post-BOPS: {currency_format(df_bm_post.sales.mean())}')
print(f'           {df_bm_post.date.min().date()} to {df_bm_post.date.max().date()}')

B&M sales

Pre-BOPS:  $67,645.70
           2011-04-17 to 2011-10-16
Post-BOPS: $60,100.91
           2011-10-23 to 2012-04-22

### DiD for online sales analysis

In [10]:
print('Far DMAs (no BOPS)')
far_pre_bops = df_online_pre[df_online_pre.close == 0].sales.sum()
far_post_bops = df_online_post[df_online_post.close == 0].sales.sum()
print(f'Pre-BOPS:     {currency_format(far_pre_bops)}')
print(f'Post-BOPS:    {currency_format(far_post_bops)}')
print(f'Difference:   {currency_format(far_post_bops-far_pre_bops)}')
far_perc_diff = (far_post_bops-far_pre_bops)*100/far_pre_bops
print(f'% difference: {round(far_perc_diff,2)}%')

print()

print('Close DMAs (with BOPS)')
close_pre_bops = df_online_pre[df_online_pre.close == 1].sales.sum()
close_post_bops = df_online_post[df_online_post.close == 1].sales.sum()
print(f'Pre-BOPS:     {currency_format(close_pre_bops)}')
print(f'Post-BOPS:    {currency_format(close_post_bops)}')
print(f'Difference:   {currency_format(close_post_bops-close_pre_bops)}')
close_perc_diff = (close_post_bops-close_pre_bops)*100/close_pre_bops
print(f'% difference: {round(close_perc_diff,2)}%')

print()
print(f'Difference in differences: {round(close_perc_diff - far_perc_diff,2)}%')

Far DMAs (no BOPS)
Pre-BOPS:     $44,378,028.47
Post-BOPS:    $37,525,957.96
Difference:   $-6,852,070.51
% difference: -15.44%

Close DMAs (with BOPS)
Pre-BOPS:     $36,090,582.97
Post-BOPS:    $29,329,041.89
Difference:   $-6,761,541.09
% difference: -18.73%

Difference in differences: -3.29%

### DiD for B&M sales analysis

In [11]:
print('Canadian stores (no BOPS)')
ca_pre_bops = df_bm_pre[df_bm_pre.usa == 0].sales.sum()
ca_post_bops = df_bm_post[df_bm_post.usa == 0].sales.sum()
print(f'Pre-BOPS:     {currency_format(ca_pre_bops)}')
print(f'Post-BOPS:    {currency_format(ca_post_bops)}')
print(f'Difference:   {currency_format(ca_post_bops-ca_pre_bops)}')
ca_perc_diff = (ca_post_bops-ca_pre_bops)*100/ca_pre_bops
print(f'% difference: {round(ca_perc_diff,2)}%')

print()

print('USA stores (with BOPS)')
usa_pre_bops = df_bm_pre[df_bm_pre.usa == 1].sales.sum()
usa_post_bops = df_bm_post[df_bm_post.usa == 1].sales.sum()
print(f'Pre-BOPS:     {currency_format(usa_pre_bops)}')
print(f'Post-BOPS:    {currency_format(usa_post_bops)}')
print(f'Difference:   {currency_format(usa_post_bops-usa_pre_bops)}')
usa_perc_diff = (usa_post_bops-usa_pre_bops)*100/usa_pre_bops
print(f'% difference: {round(usa_perc_diff,2)}%')

print()
print(f'Difference in differences: {round(usa_perc_diff - ca_perc_diff, 2)}%')

Canadian stores (no BOPS)
Pre-BOPS:     $30,689,767.29
Post-BOPS:    $25,853,282.86
Difference:   $-4,836,484.43
% difference: -15.76%

USA stores (with BOPS)
Pre-BOPS:     $122,730,679.27
Post-BOPS:    $110,455,589.56
Difference:   $-12,275,089.72
% difference: -10.0%

Difference in differences: 5.76%

## What unit to use?

In [12]:
optional_material()

df_online_reg = pd.merge(df_online_pre.groupby(['id (DMA)', 'close'])
                                       .sales
                                       .sum()
                                       .reset_index()
                                       .rename(columns={'sales':'sales_before'}),
                         df_online_post.groupby('id (DMA)')
                                       .sales
                                       .sum()
                                       .reset_index()
                                       .rename(columns={'sales':'sales_after'}),
                         on = 'id (DMA)',
                         validate='one_to_one')

df_bm_reg = pd.merge(df_bm_pre.groupby(['id (store)', 'usa'])
                               .sales
                               .sum()
                               .reset_index()
                               .rename(columns={'sales':'sales_before'}),
                     df_bm_post.groupby('id (store)')
                               .sales
                               .sum()
                               .reset_index()
                               .rename(columns={'sales':'sales_after'}),
                     on = 'id (store)',
                     validate='one_to_one')

In [13]:
df_online_reg.head()

   id (DMA)  close  sales_before   sales_after
0         1      1  6.500395e+05  5.312964e+05
1         2      0  1.818505e+06  1.976250e+06
2         3      1  5.175134e+05  3.469291e+05
3         4      1  8.494751e+04  7.400218e+04
4         5      0  8.926640e+05  5.490454e+05

In [14]:
df_bm_reg.head()

   id (store)  usa  sales_before   sales_after
0           1    0  3.426216e+06  3.067961e+06
1           3    1  1.286236e+06  1.138918e+06
2           5    1  2.724176e+06  2.518139e+06
3           7    1  2.220210e+06  1.772500e+06
4           9    1  2.647521e+06  2.617902e+06

In [15]:
df_online_reg['perc_change'] = ((df_online_reg.sales_after
                                     - df_online_reg.sales_before)/df_online_reg.sales_before)
df_bm_reg['perc_change'] = ((df_bm_reg.sales_after
                                     - df_bm_reg.sales_before)/df_bm_reg.sales_before)

In [16]:
df_online_reg.head(2)

   id (DMA)  close  sales_before   sales_after  perc_change
0         1      1  6.500395e+05  5.312964e+05    -0.182671
1         2      0  1.818505e+06  1.976250e+06     0.086744

In [17]:
df_bm_reg.head(2)

   id (store)  usa  sales_before   sales_after  perc_change
0           1    0    3426216.30  3.067961e+06    -0.104563
1           3    1    1286235.86  1.138918e+06    -0.114534

In [18]:
print('Online DiD')
print(str(round((df_online_reg[df_online_reg.close == 1].perc_change.mean()
                   - df_online_reg[df_online_reg.close == 0].perc_change.mean())*100, 2)) + '%')

print()

print('B&M DiD')
print(str(round((df_bm_reg[df_bm_reg.usa == 1].perc_change.mean()
                   - df_bm_reg[df_bm_reg.usa == 0].perc_change.mean())*100, 2)) + '%')

Online DiD
-2.67%

B&M DiD
5.74%

## DiD using linear regression

In [19]:
import statsmodels.formula.api as smf

res = smf.ols(formula='perc_change ~ close', data=df_online_reg).fit()

res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            perc_change   R-squared:                       0.017
Model:                            OLS   Adj. R-squared:                  0.012
Method:                 Least Squares   F-statistic:                     3.593
Date:                Thu, 14 Sep 2023   Prob (F-statistic):             0.0594
Time:                        13:48:28   Log-Likelihood:                 182.30
No. Observations:                 210   AIC:                            -360.6
Df Residuals:                     208   BIC:                            -353.9
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.1698      0.010    -17.367      0.000      -0.189      -0.150
close         -0.0267      0.014     -1.896      0.059      -0.055       0.001
==============================================================================
Omnibus:                       17.313   Durbin-Watson:                   2.080
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               19.065
Skew:                           0.709   Prob(JB):                     7.25e-05
Kurtosis:                       3.410   Cond. No.                         2.58
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [20]:
res = smf.ols(formula='perc_change ~ usa', data=df_bm_reg).fit()

res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            perc_change   R-squared:                       0.141
Model:                            OLS   Adj. R-squared:                  0.130
Method:                 Least Squares   F-statistic:                     13.43
Date:                Thu, 14 Sep 2023   Prob (F-statistic):           0.000439
Time:                        13:48:28   Log-Likelihood:                 121.47
No. Observations:                  84   AIC:                            -238.9
Df Residuals:                      82   BIC:                            -234.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.1591      0.014    -11.371      0.000      -0.187      -0.131
usa            0.0574      0.016      3.664      0.000       0.026       0.089
==============================================================================
Omnibus:                        0.669   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.716   Jarque-Bera (JB):                0.749
Skew:                           0.050   Prob(JB):                        0.688
Kurtosis:                       2.548   Cond. No.                         4.24
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""